body {
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}
body h1{
    color: #f4f00f;
}

header {
    background-color: #0a2e88f7;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centra el título */
}

h1 {
    margin: 0;
}

.verificar-compra-container {
    text-align: right;
    padding: 10px 20px;
}

.verificar-compra {
    padding: 10px 20px;
    background-color:  #306dd0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.verificar-compra:hover {
    background-color: #1934a1;
}

main {
    padding: 20px;
}

#lista-productos {
    list-style-type: none;
    padding: 0;
}

#lista-productos li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

#lista-productos img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#lista-productos button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#lista-productos button:first-of-type {
    background-color: #28a745;
    color: white;
}

#lista-productos button:first-of-type:hover {
    background-color: #218838;
}

#lista-productos button:nth-of-type(2) {
    background-color: #ffc107;
    color: black;
}

#lista-productos button:nth-of-type(2):hover {
    background-color: #e0a800;
}

#lista-productos button:nth-of-type(3) {
    background-color: #17a2b8;
    color: white;
}

#lista-productos button:nth-of-type(3):hover {
    background-color: #138496;
}

#lista-productos button:nth-of-type(4) {
    background-color: #dc3545;
    color: white;
}

#lista-productos button:nth-of-type(4):hover {
    background-color: #c82333;
}

#lista-productos .eliminar-equis {
    background-color: #306dd0;
    color: white;
}

#lista-productos .eliminar-equis:hover {
    background-color: #1934a1;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color:#306dd0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color:  #1934a1;
}


